
/*колір основного тексту rgba(33, 33, 33, 1) */
/*вторичній колір тексту rgba(117, 117, 117, 1)*/
/*білий колір тексту footer, hero rgba(255, 255, 255, 1)*/
/* акцент синій rgba(33, 150, 243, 1)*/
 /* фон hero rgba(47, 48, 58, 1) */
 /* фон секции 3 (для index.html rgba(245, 244, 250, 1) */

 .root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
 }
 html{
    box-sizing: border-box;
 } 
*,
*::before,
*::after {
    box-sizing: inherit;
}

 body {
    color:var(--primary-text-color);
    background-color: #FFFFFF;
font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6, {
    padding: 0px;
    margin: 0px;
} 
    

 ul {
    list-style: none;
 }
 
a {
    text-decoration:none;
}
 
 /*  HEADER  */
 
 .container {
     width: 1230px;
     padding-left: 15px;
     padding-right: 15px;
     margin-right: auto;
     margin-left: auto;
     align-items: center;
 }
 .section {
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .index-section,
 .portfolio-section
  {
    padding-top: 24;
    padding-bottom: 25;
 }

 /* --------------- logo------------ */
 .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    display: inline-block;       
 }
.logo-partone
{
    color: rgba(33, 150, 243, 1); 
}
.logo-partsecond 
    {
    color:rgba(33, 33, 33, 1);
}
/* ----------------------nav------------- */
.navigation{
font-style: Medium;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    border-bottom: 1px solid #ECECEC;
    
}
.list-site-nav {
    display: flex;
    margin-right: auto; 
    margin-left: 93px; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.list-site-nav .site-nav:not(:last-child) {
 padding-right: 50px;
} 

 .current-list {
    color: rgba(33, 150, 243, 1); 
    display: block;
} 
.current {
padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 50px;
    color: rgba(33, 150, 243, 1);
        cursor: pointer;
}
.site-nav .portfolio {
    color: rgba(33, 33, 33, 1);
        display: block;
        padding-top: 32px;
            padding-bottom: 32px;
}
.site-nav:hover,
.site-nav:focus {
    color: rgba(33, 150, 243, 1);
    cursor: pointer;   
}

/*  -----------contact ---------------- */
.contact{
    display: flex;
    justify-content: center;
}
.contact-mail {
    color: rgba(117, 117, 117, 1);
    padding-right: 50px;
    width: 135px;
}
.contact-mail:hover,
.contact-mail:focus {
    color: rgba(33, 150, 243, 1);
    cursor: pointer;
}
.contact-tel {
    color: rgba(117, 117, 117, 1);
}
.contact-tel:hover,
.contact-tel:focus {
    color: rgba(33, 150, 243, 1);
    cursor: pointer;
}
.list-contact {
justify-content: center;
}
/*  -------------------Page index-------------- */
/* HERO */
.hero {
    background-color: rgba(47, 48, 58, 1);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
     linear-gradient( 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4) 
        ),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.hero-title {
    margin: auto;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: Black;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    margin-bottom: 30px;
    width: 696px;  
}
.hero-button {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
     font-size: 16px;
      line-height: 1.9;
    font-family: inherit;
    border-radius: 4px;
    letter-spacing: 0.06em;
    font-weight: 700;
    padding: 10px 32px;
    min-width: 216;
    border: 1px solid transparent;
    margin: 0, auto;
    cursor: pointer;
}

/* OUR ADVANTAGES */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advantages{
    display: flex;
    margin: auto;
    padding-left: 0px;
}
.advantages li:not(:last-child) {
padding-right: 30px;
}
.advantages-list li:not(:last-child) {
margin-right: 30px;
}
.advantages-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
    margin-top: 0px;
    gap: 30px;
    margin-bottom: 0px;
    background-color: #F5F4FA;
}
.advantages-item {
    width: calc((100% - 150px) / 4);
    height: 90px;}

.advantages-caption {
    text-transform: uppercase;
    font-style: Bold;
     font-size: 14px;
      line-height: 1.14;
      margin-bottom: 10px;
}
.advantages-text {
    color: rgba(117, 117, 117, 1);
    font-style: Regular;
     font-size: 14px;
      line-height: 2; 
    
}
/* WHAT WE DO */
.list-what-we-do {
    display: flex;
}
.list-what-we-do:last-child {
    margin-right: 0px;
    padding-right: 0px;
}
.image-what-we-do{
    margin-right: 30px;
}

.what-we-do-caption {
    text-align: center;
    font-style: Bold;
     font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
}
.image{
    display: block;
}
.image-what-we-do{
    width: 370px;
}
.section-what-we-do{
padding-top: 0px;
padding-bottom: 94px;
}

  /* OUR TEAM  */

.section-team {
font-size: 16px;
line-height: 1.19p;
padding-top: 94px;
    padding-bottom: 94px;
background-color: rgba(245, 244, 250, 1);
}
.team {
display: flex;
    text-align: center;
    width: 270px;
}
.team-caption {
    font-style: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
}
.team-list {
    margin-right: 30px;  
 background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
.team-list-caption {
    font-style: Medium;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10;
        
}
.team-list-text {
    color: rgba(117, 117, 117, 1); 
    margin-bottom: 16px;
}
.team-soc-item{
    width: 44px;
    height: 44px;
}
.team-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: rgba(117, 117, 117, 1);
} 

.team-soc-link:hover,
.team-soc-link:focus{
    background-color:#2196F3;}
    
.team-soc-link:hover .team-soc-icon {
            fill: #FFFFFF; }

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.list-customers{
    display: flex;
    gap: 30px;
}
.item-customers {
    width: calc((100% - 150px) / 6);
    height: 90px;
}
.link-customers{
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: rgba(175, 177, 184, 1);
}

.link-customers:hover {
    fill: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1) ;
}

/* footer */

.footer {
    background-color: rgba(47, 48, 58, 1);
    font-size: 14px;
        line-height: 2;
        padding-top: 60px;
        padding-bottom: 0px;
}
.logo-partthird {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

address {
    font-style: normal;
}
.item {
    padding-left: 0px;
}
.item-address {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 9px;
}
.item-mail {
    color: rgba(117, 117, 117, 1);
    margin-bottom: 9px;
}
.item-tel{
    color: rgba(117, 117, 117, 1); 
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.footer-soc-icon{
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;  
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.footer-soc-item {
    border-radius: 4px ;
    fill: #FFFFFF;
}

.invite {
    color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        width: 700;
        size: 14px;
        letter-spacing: 0,3;
        margin-bottom: 20px;
        margin-top: 0px;
}
/* Page Portfolio */
 .section-button {
    padding-top: 94px;
    padding-bottom: 56px;
} 
.section-portfolio{
padding-top: 0;
    padding-bottom: 94px;
}
.list-button{
font-style: medium;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0px;
    margin-top: 0; 
}
.list-button li:not(:last-child) {
    padding-right: 8px; 
}

.button-project {
 color: var(--primary-text-color);
 background-color: rgba(245, 244, 250, 1);
font-family: inherit;
text-align: center;
border-radius: 4px;
padding: 6px 22px;
border: 1px solid transparent;
cursor: pointer;
}

.button-project:hover,
.button-project:focus{
    color: rgba(245, 244, 250, 1);
background-color: rgba(33, 150, 243, 1);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}
.button-project-all {
    color: rgba(245, 244, 250, 1);
        background-color: rgba(33, 150, 243, 1);
        font-family: inherit;
        text-align: center;
        border-radius: 4px;
        padding: 6px 25px;
            border: 1px solid transparent;
            min-width: 73;
            cursor: pointer;
}
.prime{
    min-width: 125;
}
.second {
min-width: 112;
}
.third {
    min-width: 103;
}
.fourth {
    min-width: 130;
}

.list-project
{
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
.image-list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.image-list:hover,
.image-list:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.image-list:nth-child(3n) {
    margin-right: 0px;
}
.image-list:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.caption-project {
font-style: bold;
font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
}
.text-project {
    color: rgba(117, 117, 117, 1);
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 20px;
        margin-top: 0px;
}

.description {
    border-left: 1px solid rgba(238, 238, 238, 1); 
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    padding-left: 24px;
    padding-right: 24px;
    
}




